// === Food ===
.food {
  order: 7;

  .slider__content {
    grid-auto-columns: calc(100% / 6 - (20px * 5) / 6);

    @include rg-block{
      grid-auto-columns: calc(100% / 5 - (20px * 4) / 5);
    }

    @include md-block{
      grid-auto-columns: minmax(172px, 196px);
    }

    & > * {
      max-width: 196px;
      min-width: 172px;
    }
  }
}

// === / Food ===