// === Movie ===
.movie {
  order: 2;
  margin-bottom: 20px;

  .slider__content {
    grid-auto-columns: calc(100% / 6 - (20px * 5) / 6);

    @include rg-block {
      grid-auto-columns: calc(100% / 5 - (20px * 4) / 5);
    }

    @include md-block {
      grid-auto-columns: minmax(172px, 196px);
    }

    & > * {
      max-width: 196px;
      min-width: 172px;
    }
  }

  .rating {
    top: 30px;
  }

  .card__content {
    border: none;
  }

  .card__info {
    margin-top: 0;
    margin-bottom: 3px;
    align-items: start;
    width: 100%;

    & > :first-child {
      margin-right: auto;
    }
  }
}

// === / Movie ===