// === Rating ===
.rating {
  @include font-roboto(700);
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 5px;
  color: #FDFDFD;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 0;

  &:before {
    content: url(../img/rating_green.png);
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    z-index: -1;
  }

  &-purple {
    &:before {
      content: url(../img/rating_purple.png);
    }
  }

  &-sm{
    font-size: 0.875rem;
    line-height: 0.625rem;
    padding-right: 3px;

    &:before{
      content: url(../img/rating_sm.png);
    }
  }
}

// === / Rating ===