// === Fonts ===
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Roboto-LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Roboto-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf) format('ttf');
}



@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-MediumItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Roboto-BlackItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Roboto-BlackItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  src: url(../fonts/Tahoma-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  src: url(../fonts/RopaSans-Regular.ttf) format('ttf');
}
// === / Fonts ===
